<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Merlin_MultiCoupon::config"
                                      title="Merlin Multi Coupon Configuration"
                                      sortOrder="900"/>
                        </resource>
                    </resource>
                </resource>

                <resource id="Merlin_MultiCoupon::codes"
                          title="Allowed Deal Codes"
                          sortOrder="901">
                    <resource id="Merlin_MultiCoupon::codes_save"
                              title="Save Deal Codes"
                              sortOrder="10"/>
                    <resource id="Merlin_MultiCoupon::codes_delete"
                              title="Delete Deal Codes"
                              sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
